html, body {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
	font-family: "PT Sans Narrow", sans-serif;
	background: black url('../img/bg-index.jpg') no-repeat 50% 0;
	background-size: 139%;
}

.header {
	color: white;
	background: black;
}
.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
	color: white;
}
.layout-center-wrapper{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.layout-center-wrapper:after {
	content: '';
	display: table;
	clear: both;
}
.top-menu {
	float: left;
	width: 780px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.top-menu li {
	display: inline-block;
}
.top-menu a {
	display: block;
	padding: 26px 20px;
	margin-right: -0.21em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
.top-menu a:hover {
	background: #242424;
}
.top-menu a.active {
	box-shadow: 0 25px 0 -20px white;
}
.top-menu a.active:hover {
	background:black;
}
.inner-page a.active{
	background: #242424;
	box-shadow: 0 25px 0 -20px #e4e4e4;
}
.account-menu {
	float: right;
	max-width: 140px;
}
.account-menu-enter {
	display: block;
	position: relative;
	padding: 26px 0px;
	padding-left: 29px;
	margin-right: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
.account-menu:hover {
	background: #242424;
}
.account-menu-enter:before {
	content: '';
	position: absolute;
	top: 28px;
	left: 0;
	width: 16px;
	height: 16px;
	background: url('../img/enter-icon.png') no-repeat 0 0;
}
.account-menu-enter-disabled:before {
	opacity: 0.3;
}
.login-popup {
	display:none;
	position: absolute;
	top: 40px;
	left: 50%;
	width: 300px;
	min-height: 200px;
	padding: 50px 80px;
	margin-left:-230px;
	background: white;
	z-index: 10;
}
.login-form {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}
.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
	display: block;
	font-weight: bold;
	font-size: 14px;
	font-family: "PT Sans Narrow", sans-serif;
	text-transform: uppercase;
}
.login-form input[type="text"],
.login-form input[type="password"] {
	width: 241px;
	margin-bottom: 10px;
	padding: 12px 15px;
	padding-right: 40px;
	border: 2px solid black;
	color: black;
	background-color: #f9f6f3;
}
.login-form input[type="password"] {
	margin-bottom: 15px;
}
.login-form .login-field {
	background:url('/img/icon-user.png') no-repeat 270px 14px;
}
.login-form .password-field {
	background:url('/img/icon-lock.png') no-repeat 270px 14px;
}
.login-form .restore {
	float: right;
	color: black;
}
.login-form input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 5px;
}
.login-form input[type="submit"]{
	width: 300px;
	margin-top: 15px;
	padding: 14px 0;
	border: none;
	color: white;
	background-color: black;
}
@-webkit-keyframes login-open {
    0%   { -webkit-transform: translateY(-2000px); }
    70%  { -webkit-transform: translateY(30px);    }
    90%  { -webkit-transform: translateY(-10px);   }
    100% { -webkit-transform: translateY(0);       }
}
@keyframes login-open {
    0%   { transform: translateY(-2000px); }
    70%  { transform: translateY(30px);    }
    90%  { transform: translateY(-10px);   }
    100% { transform: translateY(0);       }
}
@-webkit-keyframes login-error {
    0%, 100%                { -webkit-transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); }
    20%, 40%, 60%, 80%      { -webkit-transform: translateX(10px); }
}
@keyframes login-error {
    0%, 100%                { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80%      { transform: translateX(10px); }
}
.login-popup-show {
    display: block;
    -webkit-animation: login-open 0.4s;
    animation: login-open 0.4s;
}
.login-popup-error {
    -webkit-animation: login-error 0.6s;
    animation: login-error 0.6s;
}
.login-popup-close {
    position: absolute;
    width: 360px;
    margin-top: -35px;
    color: #000;
    text-decoration: none;
    text-align: right;
}
.logo {
	width: 368px;
	height: 160px;
	margin: 57px auto;
	margin-bottom: 92px
}
.logo img{
	width: 100%;
}
.features {
	margin: 65px 0;
	padding: 0;
	list-style: none;
	color: white;
}
.features:after {
	content: '';
	display: table;
	clear: both;
}
.features li {
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;
}
.features li:last-child {
	margin-right: 0;
}
.feature-title {
	position: relative;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 80px;
}
.feature-title:after {
	content: '';
	position: absolute;
	bottom: -50px;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	background: url('../img/diamond.png');
}
.features p {
	margin: 0 10px;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 24px;
	font-weight: bold;
}
.index-section {
	background: #fdfaf7 url(../img/bg.jpg);
	margin-bottom: 30px;
}
.index-section:after{
	content:'';
	display: table;
	clear: both;
}
.index-column {
	position: relative;
	padding: 45px 80px;
	width: 50%;
	box-sizing: border-box;
}
.index-column:after{
	content:'';
	display: table;
	clear: both;
}

.index-left-column {
	float: left;
}
.index-left-column:after {
	content: '';
	position: absolute;
	right: -4px;
	top: 17%;
	display: block;
	width: 8px;
	height: 280px;
	background: url('/img/section-line.png');
}
.index-right-column {
	float: right;
}
.index-section-title {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 25px
}
.index-news {
	margin: 0;
	padding: 0;
	list-style: none;
}
.index-news a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: bold;
	line-height: 1.8em;
}
.index-news .date{
	display: block;
	font-family: Georgia, Times, serif;
	font-style: italic;
	margin-top: 2px;
	margin-bottom: 27px;
}
.index-section .btn {
	display:inline-block;
	width: 140px;
	margin-top: 5px;
	padding: 13px 0;
	color: white;
	background-color: black;
	border: 0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.index-section .btn:hover {
	background-color: #242424;
}
.gallery-items {
	margin: 32px 0;
}
.gallery-items img {
	width: 100%;
}
.gallery-controls .btn-pref {
	float: left;
}
.gallery-controls .btn-next {
	float: right;
}
.contacts-address {
	margin-bottom: 20px;
}
.contacts-address p{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	line-height: 1.8em;
}
.contacts-work-time {
	margin-bottom: 30px;
}
.index-section p {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	line-height: 1.8em;
}
.contacts-work-time + a {
	float: left;
}

.contacts-work-time + a + a{
	float: right;
}
.order-form {
	margin-top: 20px;
}
.order-form fieldset {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	border: none;
}
.order-form input {
	font-family: "PT Sans Narrow", sans-serif;
	background: #fdfaf7;
}
.order-form input[type="text"] {
	padding: 10px 15px;
	width: 110px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid black;
}
.order-form input[type="text"]:last-child {
	float: right;
}
.order-form input[type="submit"] {
	margin-top: 13px;
	width: 100%;
}
.footer {
	margin-top: 35px;
	background: #242424 url('/img/bg-footer.jpg');
	padding-top: 55px;
	padding-bottom: 20px;
	color: white;
	text-transform: uppercase;
}
.footer-column {
	display: inline-block;
	float: left;
}
.footer .contacts-address{
	width: 260px;
}
.footer .social-buttons {
	float: left;
	width: 150px;
	margin-left: 130px;
	margin-right: auto;
	text-align: center;
}
.footer .copyright {
	text-align: center;
	float: right;
	width: 120px;
}
.footer .btn-social
{
	display:inline-block;
	width: 43px;
	height: 43px;
	margin-top: 5px;
	margin-right: 5px;
	padding: 0;
	color: white;
	background-color: black;
	border: 0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.footer .btn-social:last-child {
	margin-right:0;
}
.btn-social-vk{
	background: black url('/img/sprite-social.png') no-repeat 8px 8px;
}
.btn-social-fb{
	background: black url('/img/sprite-social.png') no-repeat -21px 8px;
}
.btn-social-inst{
	background: black url('/img/sprite-social.png') no-repeat -50px 8px;
}
.btn-social-vk:hover{
	background: white url('/img/sprite-social.png') no-repeat 8px -21px;
}
.btn-social-fb:hover{
	background: white url('/img/sprite-social.png') no-repeat -21px -21px;
}
.btn-social-inst:hover{
	background: white url('/img/sprite-social.png') no-repeat -50px -21px;
}


.footer .btn {
	display:inline-block;
	width: 120px;
	margin-top: 5px;
	padding: 13px 0;
	color: white;
	background-color: black;
	border: 0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.footer .btn:hover {
	background-color: #ffffff;
	color: black;
}

/* стили внутренних страниц*/
.inner-page {
	background: white url('/img/bg.jpg');
}
.page-title {
	margin: 3.8em 0 0;
	text-transform: uppercase;
}
.page-title h1{
	margin: 0;
	font-size: 2.1em;
	line-height: 1.38;
	font-weight: bold;
}
.inner-menu {
	padding: 0;
	margin: 0;
}

.inner-menu ul {
	padding-left: 0;
}

.inner-menu li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.inner-menu li:after {
	content: '';
	display: inline-block;
	width: 11px;
	height: 10px;
	margin-left:  10px;
	background: url('/img/custom-marker-1.png') no-repeat;
}
.inner-menu li:last-child:after {
	background: none;
}
.inner-menu a {
	text-decoration: none;
}
.inner-menu a:visited {
	color: black;
}
.inner-menu a:active {
	color: black;
}

.inner-content {
	font-size: 1em;
	line-height: 1.7;
	margin: 3.4em 0 0;
	font-weight: bold;
	text-transform: uppercase;
}
.inner-content h1,
.inner-content h2 {
	margin-bottom: 1.2em;
}
.inner-content h1 {
	margin-top: 2em;
	font-size: 2.15em;
	line-height: 1.4;
}
.inner-content h2 {
	margin-top: 0;
	font-size: 1.7em;
	line-height: 1.25;
}
.inner-content p {
	margin: 1em 0;
}
.mega-title {
	margin-bottom: 4.8em;
	text-align: center;
}
.mega-title h2 {
	position: relative;
	display: inline;
	font-size: 3.4em;
	line-height: 1;
	padding: 0 25px;
	margin: 0;
	z-index: 2;
	background: white url('/img/bg.jpg');
}
.mega-title:after {
	position:relative;
	content: '';
	display: block;
	border-bottom: 2px solid black;
	top: -1.7em;
	z-index: 1;
}
.inner-left-column {
	width: 50%;
	padding: 0;
	margin: 0;
	float: left;
}
.inner-right-column {
	width: 50%;
	float: right;
}
.inner-about{
	display: block;
	margin-bottom: 1.4em;
	padding-top: 3.1em;
	clear: both;

}
.inner-about:after {
	content: '';
	display: table;
	clear: both;
}
.inner-about p {
	padding: 0;
	margin: 0;
}
.inner-about-left {
	width: 41%;
	float: left;
}
.inner-about-right {
	padding-right: 9%;
	width: 41%;
	float: right;
}
.custom-list-1 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.custom-list-1 li {
	padding-left: 20px;
	margin-bottom: 0.95em;
	background: url('/img/custom-marker-1.png') no-repeat 0 50%;
}
.prices {
	width: 450px;
	border-collapse: collapse;
}
.prices th,
.prices td {
	width: 50%;
	padding: 0.5em 20px;
	border: 2px solid black;
}
.prices th {
	text-align: left;
}
.prices td {
	text-align: center;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/*Стили магазина*/
.shop-page {
	font-size: 16px;
	color: black;
	background: white url('/img/bg.jpg');
}
.filters {
	float: left;
	width: 200px;
}
.filters h3 {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0.67em;
	margin-bottom: 0.86em;
}
.filters li {
	margin-bottom: 0.86em;
}
.filters ul {
	position: relative;
	padding: 0;
	margin: 0;
	margin-bottom: 2.5em;
	list-style: none;
}
.manufacturer li{
	padding: 0;
}
.manufacturer-checkbox {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 2px solid black;
	background: white;
	vertical-align: middle;
}
.manufacturer-checkbox label {
	position: absolute;
	top 0px;
	left: 0px;
	display: block;
	width: 18px;
	height: 18px;
}
.manufacturer-checkbox label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	width: 16px;
	height: 16px;
	background: url('/img/icon-x-black.png') no-repeat 50% 50%;
	background-size: 12px;
	opacity: 0;
}
.manufacturer input[type=checkbox] {
	display: none;
	width: 1px;
	height: 1px;
	visibility: hidden;
}
.manufacturer input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.manufacturer li> label {
	vertical-align: middle;
}
.manufacturer li {
	padding-left: 35px;
}
.group-radio {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 15px;
	border: 2px solid black;
	border-radius: 50%;
	background: white;
	vertical-align: middle;
}
.group-radio label {
	position: absolute;
	top 0px;
	left: 0px;
	display: block;
	width: 18px;
	height: 18px;
}
.group-radio label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	background: black;
	border-radius: 50%;
	opacity: 0;
}
.group input[type=radio] {
	display: none;
	width: 1px;
	height: 1px;
	visibility: hidden;
}
.group input[type=radio]:checked + label:after {
	opacity: 1;
}
.group li> label {
	vertical-align: middle;
}
.group li {
	padding-left: 35px;
}

